body {
    font-size: 12px;
    
}
/* navbar */
.navbar {
    display: flex;
    height: 102px;
}
.navbar_links{
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin-right: 250px;
}
.navbar_links a{
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.logo-img{
    height: 44px;
    margin-left: 150px;
}
/* navbar end */
/* начало */
.main{
    display: flex;
    margin-right: 100px;
    align-content: center;
}
 .left{
    -ms-flex: 30%;
    flex: 30%;
    padding: 300px 40px 0px 150px;
} 
.nurtown-text{
    width: 380px;
    height: 128px;
    
}
.container {
    position: relative;
    width: 100%;
    -ms-flex: 70%;
    flex: 70%;
}

.container .btn {
    position: absolute;
    width: 221px;
    height: 71px;
    top: 92%;
    left: 1.5%;
    background-color: white;
    color: black; 
    font-size: 16px;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 0%;
}
/* ----------- */

 /* Блок "Основные задачи" начало  */
.goals {
    padding: 7.5rem;
} 

.goals__title,
.projects__title {
    padding: 3.75rem;
    color: #BDBDBD;
}

.goals__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.goals h2,
.projects h2 {
    font-size: 4rem;
}

.goals p {
    max-width: 70%;
    padding: 1.875rem;
    font-size: 1.375rem;
}

.goals__one {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.goals__two {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.projects img {
    max-width: 100%;
}

.projects__flex1,
.projects__flex2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
}

.projects__flex1 img {
    padding-bottom: 1.875rem;
}

.projects {
    gap: 1.875rem;
}

.projects__btn {
    text-align: right;
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}
/* Блок "Основные задачи" конец  */