<<<<<<< HEAD
.hi_tittle{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 300;
    margin: 0 0 22px 0;

color: #8D8D8D;
}
.container{
    display: flex;
    border: solid red;
    flex-direction: column;
    
    max-width: 1170px;
    margin: 0px auto;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 1 auto;
}
.hi_row{
    display: flex;
    justify-content: space-between;
   
}
.form{
    padding: 15px;
    margin: 0 0 10px 0;
    background-color: F3F3F3;
}
.input{
    font-size: 14px;
    border: none;
    


}
=======
body {
    font-size: 12px;
}


 /* Блок "Основные задачи" начало  */
.goals {
    padding: 7.5rem;
} 

.goals__title,
.projects__title {
    padding: 3.75rem;
    color: #BDBDBD;
}

.goals__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.goals h2,
.projects h2 {
    font-size: 4rem;
}

.goals p {
    max-width: 70%;
    padding: 1.875rem;
    font-size: 1.375rem;
}

.goals__one {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.goals__two {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.projects img {
    max-width: 100%;
}

.projects__flex1,
.projects__flex2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
}

.projects__flex1 img {
    padding-bottom: 1.875rem;
}

.projects {
    gap: 1.875rem;
}

.projects__btn {
    text-align: right;
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}
<!-- Блок "Основные задачи" конец -->
>>>>>>> c139057b15956f460b0539830c58d2b77abf858f
